body, html {
  background: lightgray;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 0.5% 20% 0.5% 58% 0.5% 20% 0.5%;
  grid-template-rows: 1% 98% 1%;
  grid-template-areas:
  '. . . . . . .'
  '. toolbar . workspace . editor .'
  '. . . . . . .';
}

#toolbar {
  grid-area: toolbar;
}

#workspace {
  grid-area: workspace;
}

#editor {
  grid-area: editor;
}

.box_border {
  border: 3px solid black;
  background: whitesmoke;
}
